.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    padding: 135px 0;
}
.hero .hero-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hero .hero-content .hero-content-title{
    color: var(--text-black);
    font-weight: 700;
    line-height: 123.6%;
    text-transform: capitalize;
    margin-bottom: 11px;
}
.hero .hero-content .hero-content-title span{
    color: var(--primary-color);
}
.hero .hero-content .hero-content-parag{
    color: var(--text-gray);
    font-weight: 400;
    line-height: 150.6%;
    margin-bottom: 50px;
}
.hero .hero-img{
    width: 639px;
    height: 429px;
}
.hero .hero-img img{
    width: inherit;
    height: inherit;
}
@media (max-width: 991px) {
    .hero .hero-img{
        width: 307px;
        height: 207px;
    }
}
@media (max-width: 767px) {
    .hero{
        flex-direction: column;
    }
    .hero .hero-img{
        width: 307px;
        height: 207px;
    }
}
@media (max-width: 575px) {
    .hero .hero-img{
        width: 335px;
        height: 225px;
    }
}
@media (max-width: 374px) {
    .hero .hero-img{
        width: 300px;
        height: 200px;
    }
}