.logo {
    width: 162px;
    height: 48px;
}

.logo img {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 767px) {
    .logo{
        width: 83px;
        height: 25px;
    }
}
@media (max-width: 375px) {
    .logo{
        width: 102px;
        height: 31px;
    }
}