.work{
    padding-bottom: 120px;
    background-color: var(--section-background-alt);
}
.work {
    padding: 120px 0;
    background-color: var(--section-background-alt);
}

.work .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.work .title p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150.6%;
    color: var(--text-gray);
    margin-bottom: 25px;
}

.work .title h2 {
    font-weight: 600;
    line-height: 123.6%;
    color: var(--text-black);
    margin-bottom: 18px;
    text-align: center;
}

.work .title h2 span {
    color: var(--primary-color);
}
.work .filter-scroll{
    width: 100%;
    overflow-x: scroll;
}
.work .filter-scroll::-webkit-scrollbar {
    height: 3px;
}

.work .filter-scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

.work .filter-scroll::-webkit-scrollbar-thumb {
    background-color: #00000011;
    border-radius: 50px;
}
.work .filter{
    display: flex;
    gap: 43px;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.work .filter li{
    cursor: pointer;
    color: var(--text-gray);
    transition: .3s;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 123.6%;
}
.dark .filter li{color: var(--text-gray);}
.work .filter li:hover,
.work .filter li.active{
    color: var(--primary-color);
}
.work .works{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media (max-width: 767px) {
    .work .filter{
        gap: 18px;
    }
    .work .works{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 575px) {
    .work .filter{
        width: max-content;
        margin-bottom: 50px;
    }
    .work .filter li{
        font-size: 1rem;
        font-weight: 400;
    }
}