.contact {
    background-color: var(--section-background-alt);
    padding: 120px 0;
}

.contact .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}

.contact .title p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150.6%;
    color: var(--text-gray);
    margin-bottom: 25px;
}

.contact .title h2 {
    font-weight: 600;
    line-height: 123.6%;
    color: var(--text-black);
    margin-bottom: 60px;
    text-align: center;
}

.contact .title h2 span {
    color: var(--primary-color);
}
.contact .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    gap: 30px;
    margin-bottom: 60px;
}
.contact .contact-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 60px;
}
.contact .contact-area .img{
    width: 480px;
    height: 310px;
}
.contact .contact-area .img img{
    width: inherit;
    height: inherit;
}
.contact .contact-area .contact-form{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 18px;
}
.contact .contact-area .contact-form h3{
    flex: 1 0 100%;
    color: var(--text-black);
    margin-bottom: 18px;
    font-weight: 600;
    line-height: 123.6%;
}
.contact .contact-area .contact-form h3 span{
    color: var(--primary-color);
}
.contact .contact-area .contact-form textarea::placeholder,
.contact .contact-area .contact-form input::placeholder{
    color: var(--text-gray);
    font-size: 1rem;
    font-weight: 400;
    line-height: 150.6%;
}
.contact .contact-area .contact-form textarea,
.contact .contact-area .contact-form input{
    background-color: #fff;
    border: none;
    outline: none;
    height: 60px;
    font-size: 1rem;
    color: var(--text-gray);
    box-shadow: 0px 1px 10px 0px #0000001a;
    padding: 18px;
    font-weight: 400;
    line-height: 150.6%;
    transition: .3s;
}
.dark .contact .contact-area .contact-form input,
.dark .contact .contact-area .contact-form textarea{
    background-color: #242526;
}
.contact .contact-area .contact-form input{
    flex: 1 0 40%;
}
.contact .contact-area .contact-form input:focus{
    box-shadow: 0px 1px 10px 0px #FF53001a;
}
.contact .contact-area .contact-form textarea{
    flex: 1 0 100%;
    height: 120px;
    margin-bottom: 29px;
}
.contact .map{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 125px;
}
.contact .map img{
    width: 100%;
}

.contact .brands{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 28px;
}
.contact .brands img{
    max-width: 100%;
}

@media (max-width:991px) {
    .contact .cards{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .contact .contact-area .img{
        width: 260px;
        height: 160px;
    }
}
@media (max-width: 767px) {
    .contact .contact-area .img{
        width: 480px;
        height: 310px;
    }
    .contact .contact-area{
        flex-direction: column;
    }
    .contact .cards{
        grid-template-columns: repeat(auto-fill, minmax(270px, 370px));
        justify-content: center;
    }
    .contact .map{
        width: 100%;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }   
    .contact .map img{
        object-fit: cover;
        height: 250px;
    }
}
@media (max-width: 575px) {
    .contact .contact-area .img{
        width: 260px;
        height: 160px;
    }
    .contact .contact-area .contact-form .input-row{
        flex-direction: column;
    }
}